@import url(./partials/reset.css);
@import url(./partials/variables.css);
@import url(./partials/header.css);
@import url(./partials/feed.css);
@import url(./partials/carousel.css);

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ul {
	list-style: none;
	/* border: 1px solid black; */
}

.logout-button {
	margin-left: 1rem;
}

.feed-errormsg {
	color: red;
}

.thumbnail-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
	gap: 3rem;
	margin-left: 5rem;
	margin-right: 5rem;
}

.thumbnail img {
	max-width: 100%;
	max-height: 20rem;
}

.post-container {
	text-align: center;
	border: 2px solid black;
}

.post-container img {
	max-width: 100%;
	max-height: 20rem;
}

.button-container {
	display: flex;
	justify-content: space-around;
}
