@import url(./partials/reset.css);
@import url(./partials/variables.css);
@import url(./partials/header.css);
@import url(./partials/feed.css);
@import url(./partials/carousel.css);
@import url(./partials/post-details.css);

h1 {
	font-family: var(--body-text);
	color: var(--primary-color);
	text-align: center;
	margin: 0;
	padding-top: 1rem;
	background-color: #d3d0cb;
}

h2 {
	font-family: var(--body-text);
	color: var(--text-color);
	margin: 0;
	font-size: 24px;
	padding-right: 1rem;
}

body {
	background-color: var(--bg-color);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ul {
	list-style: none;
	/* border: 1px solid black; */
}

a {
	text-decoration: none;
	font-family: var(--body-text);
}

footer {
	margin: 0;
	background-color: var(--primary-color);
}

footer p {
	margin: 0;
	text-align: center;
	color: var(--text-color);
	padding-block: 1rem;
}

.footer-logo {
	display: flex;
	justify-content: center;
}

.logout-button {
	margin-left: 1rem;
}

.feed-errormsg,
.post-error-msg {
	color: red;
}
