.thumbnail-grid {
	/* outline: 2px solid green; */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	justify-content: center;
	gap: 3rem;
	margin-left: 5rem;
	margin-right: 5rem;
}
.thumbnail {
	background-color: #b7b8c0;
	border-radius: 0.5rem;
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	flex-direction: column;
	border: 0.5px solid var(--primary-color);
	padding-top: 2rem;
	transition: 0.1s;
}

.thumbnail:hover {
	cursor: pointer;
	box-shadow: 3px 2px 4px var(--primary-color);

	transition: 0.1s;
}

.thumb-title {
	color: var(--primary-color);
}

.thumbnail img {
	/* border-radius: 0.5rem 0.5rem 0 0; */
	max-width: 100%;
	max-height: 20rem;
	object-fit: cover;
}
