h1 {
	font-family: var(--body-text);
	color: var(--bg-color);
	text-align: center;
	margin: 0;
	padding-top: 1rem;
	/* background-color: #d3d0cb; */
}

h2 {
	font-family: var(--body-text);
	color: var(--text-color);
	margin: 0;
	font-size: 24px;
	padding-right: 1rem;
}

.site-logo {
	/* border: 2px solid yellow; */
	display: flex;
	justify-content: center;
	background-color: var(--bg-color);
	/* margin-top: 2rem; */
}

.site-logo img {
	width: 100%;
	height: 5rem;
}

.site-logo p {
	color: var(--text-color);
	font-family: var(--body-text);
	font-size: 24px;
	margin-bottom: 0;
	padding-left: 1rem;
	align-self: self-end;
}

.header-nav {
	background-color: var(--bg-color);
	display: flex;
	justify-content: space-between;
	color: var(--text-color);
}

a:visited {
	color: #9e9586;
}

.header-nav ul {
	list-style: none;
}

.header-nav-guests {
	/* border: 2px solid blue; */
	display: flex;
	justify-content: space-between;
	padding-right: 5rem;
	gap: 3rem;
	padding-inline-start: 0;
	/* padding: 1rem; */
}

.header-nav-items {
	display: flex;
	justify-content: flex-end;
	font-family: var(--body-text);
	gap: 1rem;
}

.header-nav-item-admin {
	padding-right: 5rem;
	color: var(--text-color);
	justify-items: end;
}

.thumbnail-grid {
	/* border: 2px solid black; */
	padding-block: 2rem;
}
