.site-logo {
	/* border: 2px solid yellow; */
	display: flex;
	justify-content: center;
	background-color: var(--primary-color);
	box-shadow: 0 3px 5px var(--secondary-color);
}

.site-logo img {
	width: 100%;
	height: 5rem;
}

.site-logo p {
	color: var(--text-color);
	font-family: var(--body-text);
	font-size: 24px;
	margin-bottom: 0;
	padding-left: 1rem;
	align-self: self-end;
}

.header-nav {
	/* position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000; */
	font-family: var(--body-text);
	background-color: var(--primary-color);
	display: flex;
	justify-content: space-between;
	color: var(--text-color);
}

.header-nav a:hover {
	color: var(--bg-color);
}

a:visited {
	color: var(--bg-color-2);
}

.header-nav ul {
	list-style: none;
}

.header-nav-guests {
	display: flex;
	justify-content: space-between;
	padding-right: 3rem;
	gap: 3rem;
}

.nav-create {
	padding-right: 3rem;
	border-right: 1px solid var(--text-color);
}

.nav-username {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 3rem;
}

.nav-logout {
	/* padding-block: 0.5rem; */
	width: fit-content;
	font-family: var(--body-text);
	font-size: 1.2rem;
	border-radius: 0.25rem;
	transition: 0.2s;
}

.nav-logout:hover {
	background-color: var(--bg-color-2);
	/* padding-left: 1rem; */
	transition: 0.2s;
}

.nav-logout:active {
	box-shadow: var(--button-shadow);
}

.nav-reg {
	padding-right: 2rem;
	border-right: 1px solid var(--text-color);
}

.header-nav-items {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

.header-nav-item-admin {
	color: var(--text-color);
	justify-items: end;
}

.thumbnail-grid {
	padding-block: 2rem;
}
