:root {
	/* colors: */

	--primary-color: #a9714b;
	/* --secondary-color: */
	--text-color: #ede1cc;
	--bg-color: #262d32;

	/* Fonts:  */

	--headline: 'Peralta', serif;
	--body-text: 'Oldenburg', serif;

	/* font-sizes: */
}
