:root {
	/* colors: */

	--primary-color: #262d32;
	--secondary-color: #5d5f71;
	--bg-color: #d3d0cb;
	--text-color: #e0dfd5;

	/* Fonts:  */

	--headline: 'Peralta', serif;
	--body-text: 'Oldenburg', serif;

	/* font-sizes: */
}
